body {
  background-color: #ebf3fb;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App {
  margin: 20% auto 0 auto;
  background-color: #ffffff;
  width: 668px;
  display: grid;
  grid-template-columns: 66% 33%;
  border-radius: 5px;
}

.App .container {
  display: flex;
  flex-direction: column;
}

.App .container h2 {
  margin-left: 1.6rem;
  margin-bottom: -1rem;
  color: #121258;
}

.App .buttons {
  margin: 20px 0;
  padding-left: 20px;
}

.App .buttons .button {
  letter-spacing: 1.2px;
  font-size: 1rem;
  padding: 8px 20px;
  border-radius: 25px;
  margin: 1rem 1rem 1rem 0.5rem;
  background-color: #ffffff;
  border-color: #242e4c;
}

.App .buttons .button:hover {
  background-color: #242e4c;
  color: #ebf3fb;
  cursor: pointer;
}

.App .buttons .selected {
  background-color: #242e4c;
  color: #ebf3fb;
  cursor: pointer;
}

.App ul {
  list-style-type: none;
  padding: 10px;
  margin-top: -1rem;
  margin-bottom: 0;
}

.App ul li {
  margin: 0.5rem 20px 1rem 20px;
  padding: 1rem 0.75rem 1rem 1rem;
  background-color: #ebf3fb;
  border: 1px solid #121258;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.App ul .song {
  background-color: #121258;
  color: #ffffff;
}

.App ul li:hover {
  background-color: #121258;
  color: #ffffff;
}

.App ul .listItems {
  display: flex;
}

.App .yt-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .yt-link .yt-icon {
  font-size: 6rem;
  color: #121258;
  margin-top: 3.5rem;
  margin-bottom: -1rem;
}

.App .yt-link a {
  color: #121258;
  font-weight: 500;
  text-align-last: center;
  font-size: 1.2rem;
}

.App .yt-link p {
  color: #121258;
  font-weight: 500;
  text-align-last: center;
  width: 75%;
}
